@using Microsoft.AspNetCore.Mvc;
@using MyApp.DataBaseFolder;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using MyApp.Models;
@using Microsoft.AspNetCore.Razor.Language.Intermediate;
@using Microsoft.EntityFrameworkCore;

@model ArticleRequest

@{
    List<Claim> cl = Context.User.Claims.ToList();

    if (cl[1].Value == "modder")
    {
        Layout = "/Views/Shared/layouts/_Layout_modder.cshtml";
    }
    else if (cl[1].Value == "admin")
    {
        //Layout = "/Views/Shared/layouts/_Layout_test.cshtml"; тут для админа
    }
}


<!DOCTYPE html>
<html>
<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 статьи в одной строке */
            gap: 10px; /* Отступ между статьями */
        }

        .article-card {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        .article-image {
            width: 100%;
            height: auto;
        }

        .article-title {
            margin: 10px 0;
        }

        .article-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: inline-block;
        }
    </style>
</head>
<body>

    <h1>Список статей</h1>

    <div class="grid-container">
    @* @foreach (var article in Model)
    {*@
        <div class="article-card">
            <img class="article-image" src="@Model.article.path_to_corer" alt="Обложка статьи">
            <h2 class="article-title">@Model.article.title</h2>
            <form method="post" action="/ControllerName/ActionName">
                <input type="hidden" name="articleId" value="@Model.article.id" />
                <button type="submit" class="article-button">Перейти</button>
            </form>
        </div>
    
</div

</body>
</html>


@* 
@model List<ArticleRequest>

<div class="grid-container">
    @foreach (var article in Model)
    {
        <div class="article-card">
            <img class="article-image" src="@article.PathToCover" alt="Обложка статьи">
            <h2 class="article-title">@article.Title</h2>
            <form method="post" action="/ControllerName/ActionName">
                <input type="hidden" name="articleId" value="@article.Id" />
                <button type="submit" class="article-button">Перейти</button>
            </form>
        </div>
    }
</div> *@



